*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #22224f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    color: #ffffff;
    overflow: hidden;
}

canvas{
    border: 2px solid black;
    background-color: #ffffff;
}

.toolbox{
    background-color: #444444;
    width: 504px;
    display: inline-flex;
    padding: 1rem;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.toolbox > * {
    background-color: #ffffff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0.125rem;
    margin: 0.125rem;
    width: 50px;
    height: 50px;
    color: black;
}

.toolbox >*:last-child{
    margin-left: auto;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    canvas{
        width: 350px;
        height: 350px;
    }
    .toolbox{
        width: 350px;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    body {
        width: 100vw;
        height: 100vh;

    }
    canvas{
        width: 450px;
        height: 450px;
    }
    .toolbox{
        width: 450px;
    }
}